.card{
    position: relative;
    width: 200px;
    height: 350px;
    background-color: #888;
    border-radius: 30px;
    border: 2px solid black;
    background-repeat: no-repeat;
    color: #111;
    overflow: hidden;
    text-align: center;
}
.card img {
    margin-top: 25px;
    height: 70%;
    transition: all 0.5s ease-in-out, border;

}
.card:hover{
    border-radius: 37px;
    border: 3px solid black;
}
.card:hover img {
    margin-top: 10px;
    height: 60%;
}
.card span {
    font-size: 26px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: all 0.5s ease-out;
}
.denumire {
    bottom: 25px;
    left: 0%;
    right: 0%;
}
.price {
    top: 243px;
    left: 200px;
    right: 280px;
    width: max-content;
}
.specs {
    display: flex;
    position: relative;
    justify-content: space-around;
    transform: translateY(100px);
    transition: all 0.5s ease-out;
}
.specs .spec {
    display: flex;
    justify-content: space-around;
    font-size: 16px;
    text-align: left;
    align-items: center;
}
.specs button {
    border: none;
    background: none;
}
.specs button img{
    width: 50px;
}
#buy_now {
    border-radius: 5px;
    background: #f5af19;
    height: 30px;
}
.card:hover .denumire {
    transform: translateY(-60px);
    font-size: 20px;
    right: 75px;
}
.card:hover .price {
    transform: translateX(-65px);
    font-size: 18px;
}
.card:hover .specs {
    transform: translateY(0px);
}
#produse {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 10px;
}