.card{
    position: relative;
    width: 200px;
    height: 350px;
    background-color: white;
    background-image: url('/Media/ulei.jpg');
    background-size: 200%;
    background-position: center -70px;
    border-radius: 30px;
    transition: all 0.5s ease-in-out, border;
    border: 2px solid black;
    background-repeat: no-repeat;
    color: #111;
    overflow: hidden;
    text-align: center;
}
.card:hover{
    background-position: center -55px;
    background-size: 160%;
    border-radius: 37px;
    border: 3px solid black;
}

.card span {
    position: absolute;
    font-size: 26px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: all 0.5s ease-out;
}
.denumire {
    top: 300px;
    left: 0%;
    right: 0%;
}
.price {
    top: 240px;
    left: 200px;
    right: 280px;
    width: max-content;
}
.card:hover .denumire {
    transform: translateY(-60px);
    font-size: 18px;
    right: 75px;
}
.card:hover .price {
    transform: translateX(-65px);
    font-size: 18px;
}
.carduri{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 10px;
}