@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body{
	margin: 0px;
} 
body::-webkit-scrollbar {
    width: 11px;
}
body::-webkit-scrollbar-thumb {
    background-color: #888;
}
body::-webkit-scrollbar-track {
    background-color: #000;
}
body.scrollbar-start::-webkit-scrollbar-thumb {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
body.scrollbar-middle::-webkit-scrollbar-thumb {
    border-radius: 10px;
}
  body.scrollbar-end::-webkit-scrollbar-thumb {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.text{
	font-family: cursive;
	font-size: 18px;
	padding-left: 10px;
	padding-right: 10px;
}
.content {
    justify-content: space-around;
    display: flex;
}
.menu{
    background: #333;
	display: flex;
	padding: 10px auto 10px auto;
	font-size: 20px;
	transition: all 0.3s;
    justify-content: space-between;
    height: 60px;
    margin: 0;
}
.centru {
    display: flex;
}
.centru .ghid {
    margin-left: 30px;
    margin-right: 30px;
}
.menu li{
	list-style: none;
	position: relative;
}   
.menu a{
	color: white;
	text-decoration: none;
	display: block;
	transition: all 0.3s;
	font-family: cursive;
	text-shadow: 3px 3px 5px black;
    height: 75%;
    margin-top: 7px;
    font-family: 'Inter', sans-serif;
}
.menu .home {
    font-family: 'Protest Strike', sans-serif;
    font-size: 26px;
}
.menu .promo {
    color: #a8ff78;
}
.menu a:hover {
	text-shadow: 3px 3px 10px black;
}
.menu li:hover ul {
	display: block;
	font-size: 25px;
    z-index: 1;
}
.text {
    background: #444;
	border-radius: 17px;
	transition: all 0.3s;
    padding-top: 1px;
    padding-bottom: 5px;
}
.menu ul{
	position: absolute;
	left: 0;
	top: 100%;
	display: none;
	padding: 0;
	font-family: cursive;
}
.page {
    background: linear-gradient(to top left, #222 10%, #333 30%, #444 70%, #555 90%);
    width: 100%;
    min-height: 100vh;  
    overflow: hidden;
}
.data {
    display: flex;
    width: 50vh;
    justify-content: space-between;
    margin-right: 30px;
}
.search {
    background: #444;
    padding-left: 10px;
    border-radius: 10px;
}
.search input {
    text-decoration: none;
    background-color: transparent;
    border: none;
    height: 50%;
}
.search button {
    background: none;
    border: none;
    margin-left: 10px;
}
.head .menu li a {
    align-items: center;
    display: flex;
    justify-content: left;
}
.icon img {
    width: 45px;
}
.car-engine, .car-piston, .car-wheel, .car-pompa {
    position: absolute;
}
.car-piston, .car-wheel, .car-pompa {
    z-index: 2;
}
.car-engine {
    bottom: -10px;
    right: 0%;
}
.car-engine img {
    height: 500px;
}
.car-piston {
    top: 39%;
    right: 41%;
}
.car-piston img {
    height: 170px;
}
.car-wheel {
    top: 23.8%;
    right: 10.5%;
}
.car-wheel img {
    height: 105px;
}
.car-pompa {
    top: 60%;
    right: 0%;
}
.car-pompa img {
    height: 130px;
}
.circle-car, .circle-piston, .circle-wheel, .circle-pompa {
    position: absolute;
    border-radius: 50%;
}
.circle-piston, .circle-wheel, .circle-pompa {
    background: #222;
    z-index: 1;
}
.circle-car {
    background: #333;
    height: 580px;
    width: 580px;
    bottom: -20%;
    right: 4%;
}
.circle-piston {
    width: 140px;
    height: 140px;
    top: 43%;
    right: 42%;
}
.circle-wheel {
    width: 100px;
    height: 100px;
    top: 24%;
    right: 12%;
}
.circle-pompa {
    width: 100px;
    height: 100px;
    top: 66%;
    right: 2%;
}
.main-text {
    position: absolute;
    left: 5%;
    font-family: 'Lato', sans-serif;
    position: absolute;
    width: 50%;
    top: 15%;
}
.main-text span{
    display: block;
}
.descriere {
    font-size: 24px;
    background-color: #78ff95;
    width: 240px;
    text-align: center;
}
.main {
    font-size: 40px;
    color: white;
    text-shadow: 3px 3px 5px black;
    transition: all 0.3s;
}
.main:hover {
    text-shadow: 3px 3px 10px black;
} 
.main-text .mesaj {
    width: 70%;
    margin-top: 30px;
    margin-left: 10px;
    margin-bottom: 40px;
    color: #999;
}
.main-text .link {
    font-family: 'Bebas Neue', sans-serif;
    color: #78ff95;
    font-size: 30px;
}
.experienta {
    position: absolute;
    bottom: 5%;
    left: 5%;
    display: flex;
}
.experienta p {
    font-size: 20px;
    color: #999;
    margin-right: 30px;
}
.experienta span {
    font-size: 36px;
    font-family: 'Protest Strike', sans-serif;
    color: white;
}
.about {
    display: flex;
    justify-content: space-around;
}
.main-page {
    min-height: 100vh;
    background: #555;
    z-index: 1;
    position: relative;
}
footer {
    position: absolute;
    height: 15%;
    width: 100%;
    bottom: 0px;
}
.main-page .desprenoi {
    margin-top: 5%;
    font-family: 'Nunito', sans-serif;
    background: #444;
    border-radius: 20px;
    padding: 10px;
    display: grid;
    color: white;
    width: 40%;

}
.main-page .desprenoi .upper {
    font-size: 24px;
}
.main-page .desprenoi .slower {
    font-size: 16px;
}
.main-page .map {
    right: 5%;
    top: 10%;
    margin-top: 5%;
}
.main-page .map iframe {
    border-radius: 20px;
}
/*---------------------------------------------------------------------*/
@media only screen and (max-width: 1200px) {
    .circle-car {
        height: 460px;
        width: 460px;
    }
    .car-engine img {
        height: 400px;
    }
    .circle-piston {

    }
}